name: bookstack-mysql

services:
  db:
    image: docker.io/library/mysql:9.1
    container_name: mysql
    restart: unless-stopped
    volumes:
      - db_data:/var/lib/mysql
    environment:
      MYSQL_DATABASE: docsite
      MYSQL_USER: docsite
      MYSQL_PASSWORD: docsite
      MYSQL_ROOT_PASSWORD: docsite
    networks:
      - bm_net

  bookstack:
    image: docker.io/linuxserver/bookstack:24.10.3
    container_name: bookstack
    depends_on:
      - db
    restart: unless-stopped
    ports:
      - 6875:80
    environment:
      PUID: "1000"
      PGID: "1000"
      TZ: America/Edmonton
      APP_URL: http://localhost:6875
      APP_KEY: base64:Y7MrPaAA74VNn3yq2PI24sviyTezUrNpsnIfoM0m1X4=
      DB_HOST: db
      DB_PORT: "3306"
      DB_USERNAME: docsite
      DB_PASSWORD: docsite
      DB_DATABASE: docsite
      QUEUE_CONNECTION: database
    networks:
      - bm_net

volumes:
  db_data:
  bookstack_data:

networks:
  bm_net:
    driver: bridge
