name: ollama-openwebui

services:
  ollama:
    image: docker.io/ollama/ollama:0.13.3
    container_name: ollama
    ports:
      - 11434:11434
    restart: unless-stopped
    volumes:
      - ~/.ollama:/root/.ollama:rw,Z
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]

  open-webui:
    image: ghcr.io/open-webui/open-webui:main
    container_name: open-webui
    ports:
      - 10000:8080
    restart: unless-stopped
    environment:
      OLLAMA_BASE_URL: http://ollama:11434
    depends_on:
      - ollama
    volumes:
      - open-webui:/app/backend/data

volumes:
  open-webui:
