name: micrometer-prometheus-grafana

services:
  micrometer:
    build:
      context: ./micrometer
    image: localhost/micrometer:1.0.0
    container_name: micrometer
    # ports:
    #   - 3005:3005
    restart: unless-stopped
    networks:
      - mpg_net

  prometheus:
    image: docker.io/prom/prometheus:v2.55.0
    container_name: prometheus
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
    # ports:
    #   - 9090:9090
    restart: unless-stopped
    volumes:
      - ./prometheus/:/etc/prometheus/:ro,Z
      - prom_data:/prometheus
    networks:
      - mpg_net

  grafana:
    image: docker.io/grafana/grafana:7.5.15
    container_name: grafana
    environment:
      GF_SERVER_HTTP_PORT: "3007"
    ports:
      - 3007:3007
    restart: unless-stopped
    volumes:
      - ./grafana/provisioning/datasources:/etc/grafana/provisioning/datasources:ro,Z
      - ./grafana/provisioning/dashboards:/etc/grafana/provisioning/dashboards:ro,Z
      - ./grafana/dashboards:/etc/grafana/dashboards:ro,Z
      - ./grafana/grafana.ini:/etc/grafana/grafana.ini:ro,Z
      - grafana_data:/var/lib/grafana
    networks:
      - mpg_net

volumes:
  prom_data:
  grafana_data:

networks:
  mpg_net:
    driver: bridge
